* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background: #333;
  color: #fff;
}

nav {
  text-align: center;
  margin-bottom: 1.5rem;
}

.name {
  padding: 1rem;
  font-family: 'Press Start 2P', cursive;
}

.navbar {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
  list-style-type: none;
}

.navbar li {
  padding: .5rem;
}

.navbar li .nav-link{
  text-decoration: none;
  color: #fff;
  transition: ease-in all 0.3s;
}

.navbar li .nav-link:hover {
  text-decoration: underline;
  filter: brightness(80%);
}

.container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

header img {
  display: block;
  margin: 0 auto;
  width: 70%;
}

header p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.skills {
  text-align: center;
  font-size: 1.2rem;
}

.portfolio {
  text-align: center;
}

.portfolio .card img {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.portfolio .card p {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.portfolio .card h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.contact {
  text-align: center;
  font-size: 1.3rem;
}

.contact .contact-text {
  margin-bottom: 2.5rem;
}

.contact .phone {
  margin-bottom: 2rem;
}

.contact .email {
  margin-bottom: 2rem;
}

footer {
  padding: 2rem;
}

.footer-nav {
  display: flex;
  list-style: none;
}

.footer-nav h4 {
  margin-right: auto;
  font-size: 1.2rem;
}

.footer-nav .desktop {
  display: none;
}

.footer-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

/* media queries */
@media (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  .navbar {
    flex-direction: row;
    justify-content: center;
  }

  header {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  header img {
    order: 2;
    width: 40%;
  }

  header p {
    text-align: left;
    margin-right: 1%;
  }
  
  .col-1 {
    float: left;
    width: 50%;
  }

  .col-2 {
    float: right;
    width: 50%;
  }

  .contact {
    display: flex;
    flex-direction: column;
    clear: both;
  }

  footer {
    padding-top: 5rem;
    display: flex;
  }

  footer h4 {
    margin-right: auto;
  }
  
  .footer-nav li{
    margin: 0 15px;
  }

  .footer-nav .mobile{
    display: none;
  }

  .footer-nav .desktop {
    display: block;
  }
}

@media (min-width: 1024px) {
  nav {
    flex-direction: row;
    padding-top: 2rem;
    padding-left: 4rem;
  }

  nav h1 {
    font-size: 2rem;
  }

  nav h1 {
    margin-right: auto;
  }

  .navbar li {
    margin: 10px 50px;
  }

  header img {
    width: 90%;
  }

  header p  {
    font-size: 2rem;
  }

  .skills p {
    font-size: 2rem;
  }

  .row-1,
  .row-2 {
    display: flex;
    margin-bottom: 100px;
  }

  .col-1 {
    float: none;
  }

  .col-2 {
    float: none;
  }
}